p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin: 0;
}

.img_div{
    text-align: center;
}

    .button_div{
        text-align: center;
    }

<body {
    image-rendering: auto;
}

.centered-list {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

  
hr {
    margin-right: 21%;
    margin-left: 21%;
    }

button {
    background-color: rgb(44, 44, 243);
    color: white;
    border: none;
    border-radius:  10px;
    padding: 1%;
    cursor: pointer;
}

<button class="get-started">Get Started</button>
<button class="sign-in-now">Sign In Now</button>